<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

    <body>

        <%- include('./partials/header')%>

            <main>
                <section class="contenido">
                    <div class="contenedor-contenido3">

                        <% if (locals.usuarios) {%>


                            <% usuarios.forEach(error=> { %>
                                <div class="tarjeta-usuario">
                                    <div class="tarjeta-usuario-texto">
                                        <p class="etiqueta-usuario">Nombre: </p>
                                        <p>
                                            <%= error.firstName %>
                                        </p>
                                        <p class="etiqueta-usuario">Apellido: </p>
                                        <p>
                                            <%= error.lastName %>
                                        </p>

                                        <p class="etiqueta-usuario">Email: </p>

                                        <p>
                                            <%= error.email %>
                                        </p>

                                        <p class="etiqueta-usuario">Tipo de usuario: </p>
                                        <p>
                                            <%= error.type %>
                                        </p>
                                    </div>


                                    <div class="tarjeta-usuario-imagen">
                                        <!-- <img src="/img/users/<%= error.avatar%>" alt="product image"
                                            class="imagen-usuario"> -->
                                        <a href="/users/edit/<%= error.id %>" class="action-button edit">EDITAR</a>
                                        <form action="/users/<%= error.id  %>/delete?_method=DELETE" method="POST"
                                            style="display: inline-flex">
                                            <button type="submit" class="action-button delete">ELIMINAR</button>
                                        </form>


                                        
                                    </div>

                                </div>
                    
                    <% })} %>
                </div>



                </section>
            </main>

            <%- include('./partials/footer')%>

    </body>

</html>