<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

  <body>

    <%- include('./partials/header')%>

      <main>
        <section class="contenido-2">
          <div class="contenedor-contenido-2">

            <ul class="errores"></ul>


            <% if (locals.errores) { %>
              <% errores.forEach( error => { %>  
                <p class="errores" style="color:#FF0000"><%= error.msg %></p>
                <% })} %> 


                

                <% if (locals.old) {%>
                  <%= old.firstName  %>  
                  <% } %> 

            <h1>Regístrate</h1>
            <p>Crea tu cuenta</p>
            <form action="/users/log" method="POST" class="login" enctype="multipart/form-data" >
              <input type="text" id="firstName" name="firstName" placeholder="NOMBRE" value="<%= locals.old && old.firstName ? old.firstName: null %>">
                <input type="text" id="lastName" name="lastName" placeholder="APELLIDO" value="<%= locals.old && old.lastName ? old.lastName: null %>">
              
              <input type="text" id="email" name="email" placeholder="EMAIL" value="<%= locals.old?old.email:null%>"/>
              <input type="email" id="email2" name="email2" placeholder="REPETIR EMAIL" value=" <% if (locals.old) {%>
                <%= old.email  %>  
                <% } %> " />
              <input type="password" id="contraseña" name="password" placeholder="CONTRASEÑA" />
              <input type="password" id="contraseña2" name="password2" placeholder="REPETIR CONTRASEÑA" />
              <label for="type">Tipo de usuario</label>
              <select name="type" id="type" value=" <% if (locals.old) {%>
                <%= old.type  %>  
                <% } %> ">
                <option value="Admin">Administrador</option>
                <option value="Usuario">Usuario</option>
              </select>
              
              <label for="avatar">Foto de perfil</label>
              <input type="file" id="avatar" name="avatar"> 
              <a href="/users/log" class="ir-a">¿Ya tienes cuenta? Inicia sesión</a>
              <div class="boton_ingresar"><button type="submit">Ingresar</button></div>
            </form>
          </div>
        </section>
      </main>

      <%- include('./partials/footer')%>

      <script src="/js/registerAddValidation.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>

</html>