<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head')%>

  <body>
   
  <%- include('./partials/header')%> 

    <main class="shop">
      <div class="shop-title">
        <ul class="goat-title">
          <li class="title-a">GREATEST OF ALL TIME</li>
          <li class="title-b">Camisetas originales del mundial</li>
          <li class="title-c">Firmadas por tu GOAT</li>
        </ul>
        <form class="filter" action="">
          <label for="filter">Filtrar</label>
          <select name="filter" id="filter">
            <optgroup label="Grupo A">
              <option value="qatar">Qatar</option>
              <option value="ecuador">Ecuador</option>
              <option value="senegal">Senegal</option>
              <option value="netherlands">Holanda</option>
            </optgroup>
            <optgroup label="Grupo B">
              <option value="england">Inglaterra</option>
              <option value="iran">Iran</option>
              <option value="united-states">Estados Unidos</option>
              <option value="wales">Gales</option>
            </optgroup>
            <optgroup label="Grupo C">
              <option value="argentina">Argentina</option>
              <option value="saudi-arab">Arabia Saudita</option>
              <option value="mexico">Mexico</option>
              <option value="poland">Polonia</option>
            </optgroup>
            <optgroup label="Grupo D">
              <option value="france">Francia</option>
              <option value="australia">Australia</option>
              <option value="denmark">Dinamarca</option>
              <option value="tunisia">Túnez</option>
            </optgroup>
            <optgroup label="Grupo E">
              <option value="spain">España</option>
              <option value="costa-rica">Costa Rica</option>
              <option value="germany">Alemania</option>
              <option value="japan">Japon</option>
            </optgroup>
            <optgroup label="Grupo F">
              <option value="belgium">Belgica</option>
              <option value="canada">Canada</option>
              <option value="morocco">Morroco</option>
              <option value="croatia">Croacia</option>
            </optgroup>
            <optgroup label="Grupo G">
              <option value="brazil">Brasil</option>
              <option value="serbia">Serbia</option>
              <option value="switzerland">Suiza</option>
              <option value="cameroon">Camerún</option>
            </optgroup>
            <optgroup label="Grupo H">
              <option value="portugal">Portugal</option>
              <option value="ghana">Ghana</option>
              <option value="uruguay">Uruguay</option>
              <option value="south-korea">Corea Del Sur</option>
            </optgroup>
          </select>
          <input type="submit" value="Filtrar" />
        </form>
      </div>
      <div class="shop-products-a">

        
        <div class="group-x">GRUPO A</div>
        
        <div class="group-products">
          <% for (product of locals.products) {%> 
            <% if (product.grupo_id ==1) {%> 
          <article class="product">
            <div class="img-box">
              <a href="/product/<%= product.id %> "><img class="product-img" src="/img/<%= product.imagen %>" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA <%= product.teamName %> </a></li>
                <li class="player"><a href="/product">GOAT <%= product.jugador %></a></li>
                <li class="price"><a href="/product">$<%= product.price %></a></li>
              </ul>
            </div>
          </article>
          <% } %> 
          <% } %> 
          
        </div>
      </div>
      <div class="shop-products-b">
        <div class="group-y">GRUPO B</div>
        <div class="group-products">
          <% for (product of locals.products) {%> 
            <% if (product.grupo_id ==2) {%> 
              <article class="product">
                <div class="img-box">
                  <a href="/product/<%= product.id %> "><img class="product-img" src="/img/<%= product.imagen %>" /></a>
                </div>
                <div>
                  <ul class="product-info">
                    <li class="description"><a href="/product">CAMISETA <%= product.teamName %> </a></li>
                    <li class="player"><a href="/product">GOAT <%= product.jugador %></a></li>
                    <li class="price"><a href="/product">$<%= product.price %></a></li>
                  </ul>
                </div>
              </article>
          <% } %> 
          <% } %> 
          
          
        </div>
      </div>
      <div class="shop-products-a">
        <div class="group-x">GRUPO C</div>
        <div class="group-products">
          <% for (product of locals.products) {%> 
            <% if (product.grupo_id ==3) {%> 
              <article class="product">
                <div class="img-box">
                  <a href="/product/<%= product.id %> "><img class="product-img" src="/img/<%= product.imagen %>" /></a>
                </div>
                <div>
                  <ul class="product-info">
                    <li class="description"><a href="/product">CAMISETA <%= product.teamName %> </a></li>
                    <li class="player"><a href="/product">GOAT <%= product.jugador %></a></li>
                    <li class="price"><a href="/product">$<%= product.price %></a></li>
                  </ul>
                </div>
              </article>
          <% } %> 
          <% } %> 
          
        </div>
      </div>
      <div class="shop-products-b">
        <div class="group-y">GRUPO D</div>
        <div class="group-products">
          <% for (product of locals.products) {%> 
            <% if (product.grupo_id ==4) {%> 
              <article class="product">
                <div class="img-box">
                  <a href="/product/<%= product.id %> "><img class="product-img" src="/img/<%= product.imagen %>" /></a>
                </div>
                <div>
                  <ul class="product-info">
                    <li class="description"><a href="/product">CAMISETA <%= product.teamName %> </a></li>
                    <li class="player"><a href="/product">GOAT <%= product.jugador %></a></li>
                    <li class="price"><a href="/product">$<%= product.price %></a></li>
                  </ul>
                </div>
              </article>
          <% } %> 
          <% } %> 
          
        </div>
      </div>
      <div class="shop-products-a">
        <div class="group-x">GRUPO E</div>
        <div class="group-products">
          <% for (product of locals.products) {%> 
            <% if (product.grupo_id ==5) {%> 
              <article class="product">
                <div class="img-box">
                  <a href="/product/<%= product.id %> "><img class="product-img" src="/img/<%= product.imagen %>" /></a>
                </div>
                <div>
                  <ul class="product-info">
                    <li class="description"><a href="/product">CAMISETA <%= product.teamName %> </a></li>
                    <li class="player"><a href="/product">GOAT <%= product.jugador %></a></li>
                    <li class="price"><a href="/product">$<%= product.price %></a></li>
                  </ul>
                </div>
              </article>
          <% } %> 
          <% } %> 
          
        </div>
      </div>
      <div class="shop-products-b">
        <div class="group-y">GRUPO F</div>
        <div class="group-products">
          <% for (product of locals.products) {%> 
            <% if (product.grupo_id ==6) {%> 
              <article class="product">
                <div class="img-box">
                  <a href="/product/<%= product.id %> "><img class="product-img" src="/img/<%= product.imagen %>" /></a>
                </div>
                <div>
                  <ul class="product-info">
                    <li class="description"><a href="/product">CAMISETA <%= product.teamName %> </a></li>
                    <li class="player"><a href="/product">GOAT <%= product.jugador %></a></li>
                    <li class="price"><a href="/product">$<%= product.price %></a></li>
                  </ul>
                </div>
              </article>
          <% } %> 
          <% } %> 
          
        </div>
      </div>
      <div class="shop-products-a">
        <div class="group-x">GRUPO G</div>
        <div class="group-products">
          <% for (product of locals.products) {%> 
            <% if (product.grupo_id ==7) {%> 
              <article class="product">
                <div class="img-box">
                  <a href="/product/<%= product.id %> "><img class="product-img" src="/img/<%= product.imagen %>" /></a>
                </div>
                <div>
                  <ul class="product-info">
                    <li class="description"><a href="/product">CAMISETA <%= product.teamName %> </a></li>
                    <li class="player"><a href="/product">GOAT <%= product.jugador %></a></li>
                    <li class="price"><a href="/product">$<%= product.price %></a></li>
                  </ul>
                </div>
              </article>
          <% } %> 
          <% } %> 
          
        </div>
      </div>
      <div class="shop-products-b">
        <div class="group-y">GRUPO H</div>
        <div class="group-products">
          <% for (product of locals.products) {%> 
            <% if (product.grupo_id ==8) {%> 
              <article class="product">
                <div class="img-box">
                  <a href="/product/<%= product.id %> "><img class="product-img" src="/img/<%= product.imagen %>" /></a>
                </div>
                <div>
                  <ul class="product-info">
                    <li class="description"><a href="/product">CAMISETA <%= product.teamName %> </a></li>
                    <li class="player"><a href="/product">GOAT <%= product.jugador %></a></li>
                    <li class="price"><a href="/product">$<%= product.price %></a></li>
                  </ul>
                </div>
              </article>
          <% } %> 
          <% } %> 
          
        </div>
      </div>
    </main>

    <%- include('./partials/footer')%>

  </body>
</html>